<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>About Page</title>
	<link rel="stylesheet" th:href="@{/src/main/resources/static/css/about.css}">
</head>
<style>

</style>

<body>
	<section  style="background-color: #0ba1ae;">
		<div id="aboutbox">
			<h1>About Smart Contact Manager</h1>
		</div>
		<div class="aboutbox">
			<h2>Who We Are ?</h2>
			<p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aperiam iure nihil,
				dolorum dolorem praesentium quia unde temporibus consequatur nobis explicabo repellendus sapiente
				accusamus culpa eos odio et architecto a!</p>
			<h2>We Are Different From Others.</h2>
			<p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aperiam iure nihil,
				dolorum dolorem praesentium quia unde temporibus consequatur nobis explicabo repellendus sapiente
				accusamus culpa eos odio et architecto a! Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Tenetur optio ut fugit, quas debitis vitae? Veritatis magni, rem ratione repellat cupiditate odit cum
				asperiores quis minus omnis in illo optio!</p>

				<div class="container text-center">
					<button class="btn btn-danger mb-2">Get Start</button>
				</div>
		</div>
	</section>
</body>

</html>