<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Login Page</title>
</head>

<body>
	<section class="vh-50">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col- col-md-8 col-lg-6 col-xl-5">
					<div class="card shadow-2-strong">

						<form action="" th:action="@{/dologin}" method="post" class="card1">
							<div class="card-body p-5 text-center">
								<h3 class="mb-5">Login</h3>
								<div th:if="${param.error}" class="alert alert-danger">
									Invalid username & password
								</div>
								<div th:if="${param.logout}" class="alert alert-success">
									Successfully logout !!
								</div>
								<div class="form-outline mb-4">
								<label>Email</label>
									<input type="email" name="username" id="typeEmailX-2"
										class="form-control form-control-lg back" placeholder="Email" />
								</div>
								<div class="form-outline mb-4">
								<label>Password</label>
									<input type="password" name="password" id="typePasswordX-2"
										class="form-control form-control-lg back" placeholder="Password" style="color:white" />
								</div>
								<button class="btn bg-primary btn-lg btn-block" type="submit">Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>